{% extends 'base_generic.html' %}


{% block content %}
<h1>Title: {{ book.title }}</h1>

<p><strong>Author:</strong> <a href="{{my_book_details.author.get_absolute_url}}">{{my_book_details.author}}</a>
</p>
<!-- author detail link not yet defined -->
<p><strong>Summary:</strong> {{ my_book_details.summary }}</p>
<p><strong>ISBN:</strong> {{ my_book_details.isbn }}</p>
<p><strong>Language:</strong> {{ my_book_details.language }}</p>
<p><strong>Genre:</strong> {{ my_book_details.genre.all|join:", " }}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    <!-- BookInstance -->
    {% for copy in my_book_details.bookinstance_set.all %}
    <hr>
    <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'a' %}
    <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
    {% endif %}
    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
</div>
{% endblock %}